# macOS
.DS_Store

# SwiftPM
.build/
build/
Packages/
*.xcodeproj
*.xcworkspace
!FocusOrb/FocusOrb.xcodeproj/
!FocusOrb/FocusOrb.xcodeproj/**
FocusOrb/build.zip

# Xcode
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Logs
*.log
